.containerdetail{
  
    width: 100%;
    justify-content: center; 
     display: flex;
}
.custom_button{
    height: 50px;
    width: 400px;
    color: #FFFFFF;
    background-color: black ;
    font-weight: bold;
    margin-top: 50px;
    font-size: small;
}
.data_image{
    width: 40rem;
    height: 60rem;
  
}
.datatext{
    width: 40rem;
    height: 80rem;
 
    display:flex;
    margin-left: 1rem;
    margin-top: 5rem;
    display: inline;
    line-height: 1.5rem;
}
.data_image img {
    width: 60%;
    height: 60%;
    background-color: black;
    float: right;
    margin-top: 5rem;
}
.oder_data{
    width: 100%;
    height: 10rem;
    
}
.ecli_color{
    width: 2rem;
    height: 2rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    border-width: 1px;
    border-color: black;
    border-style: outset;
    margin-left: 20px;
}
.ecli_color_first{
    width: 2rem;
    height: 2rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    border-width: 1px;
    border-color: black;
    border-style: outset;
}
.container_ecli{
    margin-top: 30px;
    display: flex;
    line-height: 4rem;
    width: 100%;
    
}
.size_card{
    width: 2rem;
    height: 2rem;
    margin-right: 20px;
    border-width: 0.1rem;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size_cardactive{
    width: 2rem;
    height: 2rem;
    margin-right: 20px;
    border-width: 0.1rem;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #FFFFFF;
}
.container_ecli_tmp{
    width: 100%;
    margin-top: 170px;
    line-height: 40px;
}